@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    color-scheme: light dark;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: block;
    background: light-dark(#eee, #121212);
    align-content: center;
    height: 100vh;
}

.centered{
    background-color: rebeccapurple;
    color: black;
    display: block;
    align-content: center;
    height: 200px;
    width: 200px;
    margin-inline: auto;
}



/* .box{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.box .group{
    position: relative;
    transform: rotate(-30deg);
    display: flex;
    flex-direction: column;
    gap: 1em
}

.iconContainer{
    display: flex;
    gap: 0.5em;
    font-size: 4em;
    width: 200vw;
    animation: animate1 80s linear infinite;
}

.iconContainer:nth-child(even){
    animation: animate2 80s linear infinite;
}

@keyframes animate1{
    0%, 100%{
        transform: translateX(-100vw);
    }
    50%{
        transform: translateX(0vw);
    }
}

@keyframes animate2{
    0%, 100%{
        transform: translateX(0vw);
    }
    50%{
        transform: translateX(-100vw);
    }
}

.iconContainer i{
    cursor: default;
    user-select: none;
    transition: 2s;
    color: transparent;
    opacity: 0.35;
    -webkit-text-stroke: 1px #00ff51;
}

.iconContainer i:hover{
    color: #00ff51;
    transition: 0s;
    -webkit-text-stroke: 1px transparent;
    opacity: 1;
    text-shadow: 0 0 120px #00ff51;
} */




/*
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #5f5f5f;
}

body{
    background-color:#232323;
    color: #eee;
    font-family: Montserrat;
}

section{
    width: 85%;
    margin: auto;
}
*/

/* .title{
    font-size: 30px;
    font-weight: bold;
}

.reset,
.autoplay{
    background-image: linear-gradient(#ffc800, #ff8c00);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.active{
    background-image: linear-gradient(#bebebe, #fff3f3);
    color: #000000;
}

.input-box{
    padding: 10px 20px;
}

.amazon{
    background-image: linear-gradient(#01e345, #008127);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.move-Icon{
    width: 50px;
    height:50px;

}

.button-Move{
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.score{
    margin-top: 60px;
}

.input{
    font-size: 15px;
    padding: 6px;
}

.todoBtn{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
}

.deleteBtn{
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
}

.todo-grid{
    display: grid;
    grid-template-columns: 250px 150px 100px;
    column-gap: 10px;
    margin-bottom: 10px;
    align-items: center;
} */


/* fetching the content */
/* .row{
    margin-block: 80px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.col-md-4{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: #eee;
    color: black;
}

.pizza{
    width: 100%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eee;
    box-shadow: 0 2px 10px hsla(0, 0%, 41%, 0.439);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #121212;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1 rem;
    font-weight: 400;
    color: #121212;
}

.nav-link:hover{
    color: #6d6d6d;
}

.bar:focus{
    background-color: #eee !important;
}

.nav-logo {
    font-size: 1.1rem;
    font-weight: 500;
    color: #121212;
}

.c-brown{
    color: brown;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3rem;
        flex-direction: column;
        background-color: #eee;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 2px 10px hsla(0, 0%, 100%, 0.439)
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
} */

