@import './color';

h1{
  background-color: $red;
  color: $cyan;
  text-align: center;
}


// nesting
.parent{

  &:hover{
    background-color: $other-blue;
  }

  &:hover .child1{
    color: $red;
    font-size: x-large;
  }

  background-color: $periwinkle;
  width: 100%;
  color: $darkester-gray;

  .child1{
    color: $light-gray;
  }

}


// mapping using @each

$sizes: (
  "small": 10px,
  "normal": 16px,
  "large": 25px,
  "x-large": 40px
);

@each $key, $value in $sizes{
  .text-#{$key}{
    font-size: $value;
  }
}

// grouping by @extend
.all{
  color: $darkester-gray;
  background-color: $yellow-green;
  width: 100px;
  height: 100px;
  margin-block: 10px;
  display: grid;
  place-items: center;
}

.single{
  border-radius: 10px;
  @extend .all
}