.contact{
  border: 1px solid rgb(255, 255, 255);
  width: fit-content;
  padding: 70px auto;
}


.contact::after{
  content: '';
  height: 10px;
  width: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 1px;
  left: 20px;
}

contact::after{
  content: '';
  height: 10px;
  width: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 1px;
  left: 20px;
}
.contact::before{
  content: '';
  height: 10px;
  width: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 1px;
  left: 15px;
}