*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  width: 90%;
  margin: auto;
}

h1{
  text-align: center;
}

picture, img {
    display: block;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.image-pic {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.image-pic:hover .layer {
  top: 0;
}

.image-pic img{
  width: 100%;
  transition: all 0.5s;
}

.image-pic:hover img{
  transform: scale(1.1);
}

.layer{
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer p{
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 1.5625rem;
}

/* free */